[submodule "dotfiles"]
	path = daynindotfiles
	url = https://github.com/daynin/dotfiles
[submodule "gnome-terminal-colors-monokai"]
	path = gnome-terminal-colors-monokai
	url = https://github.com/pricco/gnome-terminal-colors-monokai
[submodule "rainbow_parentheses.vim"]
	path = rainbow_parentheses.vim
	url = https://github.com/kien/rainbow_parentheses.vim.git
